@import "tailwindcss";
:root {
  color-scheme: dark;
  font-family: 'Inter', sans-serif;
}

body {
  background: radial-gradient(circle at top left, #020617, #0f172a);
  color: #e2e8f0;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 8px;
}

